
#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
    margin: 5%
	}

.name {
  color: aqua;
  font-size: 45px;
}

.basic-bio {
  color: aqua;
  font-size: 25px
}

.about-me {
  color: aqua;
  font-size: 20px;
}

.about-work {
  color: aqua;
  font-size: 20px;
}

.personal {
  color: aqua;
  font-size: 20px;
}